.frontname{
    font-weight: 300;
}

.heading{
    border: solid 1px rgb(46, 2, 46);
    padding: 10px;
    background-color:rgb(46, 2, 46) ;
    color: white;
}

.logout{
    margin-left: 970px;
    font-size:medium;
 }
 
 .list{
    padding-top: 35px;
   color: black;
   text-decoration: none;
  }
  
  .active{
      padding-top: 35px;
      margin-bottom: 15px;
      color: goldenrod; 
      text-decoration: none;   
  }

  .msg{
    display: inline-block;
  }

  .input{
    margin-left: 60px;
    border-radius: 10px;  
  }

  .sub{
  position: fixed;
  left: 80px;
  top:150px
  }